# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# CMake
CMakeFiles/
*cmake_install.cmake
*CMakeCache.txt
Makefile

# Visual Studio
*.vcxproj
*.vcxproj.filters
Win32/
*.dir/
*.opensdf
*.sdf
*.sln

# Binaries
examples/*_test
examples/calculator_test_c90
